<link rel="stylesheet" type="text/css" href="/bootstrap.css">

<div class="container">
  <h1>メモスール</h1>
  <form method="post"action="/memos/<%= memo.id %>">
    <input type="hidden" name="_method" value="put" >
    <textarea name="text"><%= memo.text %></textarea>
    <input type="submit">
  </form>
</div>
