<link rel="stylesheet" type="text/css" href="/bootstrap.css">

<div class="container">
  <h1>メモスール</h1>
  <div class="justify-center">
    <a class="btn btn-primary" href="memos/new" role="button">追加</a>
  </div>
  <ul>
    <% memos.each do |memo| %>
    <li>
    <%= link_to "memos/#{memo.id}", memo.title %></li>
    <% end %>
  </ul>
</div>
