<link rel="stylesheet" type="text/css" href="/bootstrap.css">
<div class="container">
  <h1>メモスール</h1>
  <form action="/memos" method="post">
    <textarea name="text"></textarea>
    <input type="submit" value="送信"> 
  </form>
</div>
