<link rel="stylesheet" type="text/css" href="/bootstrap.css">
<div class="container">
  <h1>メモスール</h1>
  <form action="/memos" method="post">
    <textarea name="text"></textarea>
    <p>
    <input type="submit" class="btn btn-primary" value="送信"> 
    </p>
  </form>
</div>
