<link rel="stylesheet" type="text/css" href="/bootstrap.css">
<div class="container">
  <h1>メモスール</h1>
  <form action="/memos" method="post">
    <textarea name="text" cols="30" rows="10"></textarea>
    <div class="mt-3 mb-3">
    <input type="submit" class="btn btn-primary" value="送信"> 
    </div>
  </form>
</div>
