<link rel="stylesheet" type="text/css" href="/bootstrap.css">
<div class="container">
  <h1>メモスール</h1>
  <p>
    <%= replace_to_br(memo.text)%>
  </p>
  <div>
    <a class="btn btn-primary" href="<%= memo.id %>/edit" role="button"> 変更</a>
  </div>
  <form action="<%= memo.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit"  class="btn btn-primary" value="削除">
  </form>
</div>
